#{extends 'main.html' /} 
#{set title:'New camping spot' /} 
#{set 'pageJavaScripts'}
	#{script 'map.js' /}
	#{script 'listings.js' /}
#{/set}
#{form @Listings.create(), class: 'form-horizontal', role:'form', enctype:'multipart/form-data' }

	#{formitem name: "spot.header", label: "Name your spot*"/}
	#{formitem name: "spot.text", label: "Description*", input_width: "col-sm-9"}
		<textarea id="spot.text" name="spot.text" class="form-control">${flash['spot.text']}</textarea>
	#{/formitem}

	#{formitem name: "spot.photos[]", label: "Pick photos*"}
		<input type="file" name="spot.photos[]" multiple value="${flash['spot.photos']}">
	#{/formitem}
	
	#{formitem name: "spot.price", label: "Price per day*"}
		<input type="number" name="spot.price" class="form-control" min="0" step="0.01" value="${flash['spot.price']}" placeholder="4.00">
	 
	#{/formitem}
	
	#{formitem name: "spot.utilities", label: "Amenities", input_width: "col-sm-9"}
		<label class="checkbox-inline">
		  <input type="checkbox" name="spot.utilities" value="1" #{if flash['spot.utilities']?.contains("1")} checked #{/if}> 
		  <img src="@{'public/images/utilities/shower.png'}" />
		</label>
		
		<label class="checkbox-inline">
		  <input type="checkbox" name="spot.utilities" value="2" #{if flash['spot.utilities']?.contains("2")} checked #{/if}> 
		  <img src="@{'public/images/utilities/bathroom.gif'}" />
		</label>
		
		<label class="checkbox-inline">
		  <input type="checkbox" name="spot.utilities" value="3" #{if flash['spot.utilities']?.contains("3")} checked #{/if}> 
		  <img src="@{'public/images/utilities/pets.png'}" />
		</label>
		
		<label class="checkbox-inline">
		  <input type="checkbox" name="spot.utilities" value="4" #{if flash['spot.utilities']?.contains("4")} checked #{/if}> 
		  <img src="@{'public/images/utilities/electricity.png'}" />
		</label>
		
		<label class="checkbox-inline">
		  <input type="checkbox" name="spot.utilities" value="5" #{if flash['spot.utilities']?.contains("5")} checked #{/if}> 
		  <img src="@{'public/images/utilities/internet.png'}" />
		</label>
		
		<label class="checkbox-inline">
		  <input type="checkbox" name="spot.utilities" value="6" #{if flash['spot.utilities']?.contains("6")} checked #{/if}> 
		  <img src="@{'public/images/utilities/barbecue.png'}" />
		</label>
	#{/formitem}
	
	#{formitem name: "spot.startDate", label: "Start date*"}
		<input name="spot.startDate"  id="spot_startDate" class="form-control datepicker" type="text" value="${flash["spot.startDate"] ? flash["spot.startDate"] : startDate}" />
	#{/formitem}
	
	#{formitem name: "spot.endDate", label: "End date*"}
		<input name="spot.endDate" id="spot_endDate" class="form-control datepicker" type="text" value="${flash["spot.endDate"] ? flash["spot.endDate"] : endDate}" />	
	#{/formitem}
	
	#{formitem name: "spot.latitude", label: "Location", input_width: "col-sm-9"}
	<input type="hidden" name="spot.latitude" id="latitude" value="${flash['spot.latitude']}" />
	<input type="hidden" name="spot.longitude" id="longitude" value="${flash['spot.longitude']}" />
	<div id="map_canvas" style="width:90%; height:200px"></div>
	#{/formitem}
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Create</button>
		<button type="reset" class="btn">Reset</button>
	</div>

#{/form}
