#{extends 'main.html' /}
#{set title:'Search' /}

#{if showMap}
	#{set 'pageJavaScripts'}
		#{script 'map.js' /}
		#{script 'listings.js' /}
		#{script 'search.js' /}
	#{/set}
#{/if}
#{else}
	#{set 'pageJavaScripts'}
		#{script 'search.js' /}
	#{/set}
#{/else}


<h2>Search Camping Spots</h2>

#{form @Search.list(), id: "searchForm", "data-show-map": showMap}
    <input name="search" type="text" id="search" size="50">
    <input name="page" type="hidden" value="1">
    
    <input type="submit" id="submit" value="Search">
	
	#{if showMap}
		<a href="?showMap=0">Show List</a>
	#{/if}
	#{else}
		<a href="?showMap=1">Show Map</a>
	#{/else}
	
    <br>
    Maximum results: 
    <select id="size" name="size">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
    </select>
    
#{/form}


	


#{if showMap}
	<div id="map_canvas" style="width:100%; height:400px; margin-top:15px"></div>
#{/if}
#{else}
	<div id="search_results"></div>
#{/else}

