#{if cspots}

<script>
$(document).ready(function() 
			    { 
			        $("#myTable").tablesorter({ 
			            headerTemplate: '{content}{icon}',
			        	headers: { 
			                // the first and third column (we start counting zero) do not sort
			                0: { 
			                    // disable it by setting the property sorter to false 
			                    sorter: false 
			                }, 
			                2: { 
			                    // disable it by setting the property sorter to false 
			                    sorter: false 
			                } 
			            }            
			        }); 
			    });
</script>

    <table id="myTable" class="tablesorter-blue">
        <thead>
            <tr>
         
               <th class="table-entry">Picture</th>
                <th class="table-entry">Description</th>
                <th class="table-entry">Amenities</th>
                <th class="table-entry">Price</th>
            </tr>
        </thead>
        <tbody>
            #{list cspots, as:'cspot'}
                <tr>       
	          	<td class="table-entry"> 
	        		<img src="@{Search.renderImage(cspot.id)}" class="cspot-pic"/>
	        	</td> 
	       
	        	<td class="table-entry">
		        	<p> 
		        		${cspot.header}
		        	</p>
		        	#{if (cspot.text.length() > 180)} 
		        		${cspot.text.substring(0, 180) + "..."}
		        	#{/if}
	        	</td>
	        
	            <td class="table-entry">
	            	#{if cspot.utilities.contains(1)}
					<img src="@{'public/images/utilities/shower.png'}" class="utility"/>
	            	#{/if}
	            	#{if cspot.utilities.contains(2)}
					<img src="@{'public/images/utilities/bathroom.gif'}" class="utility"/>
			     	#{/if}
	            	#{if cspot.utilities.contains(3)}
					<img src="@{'public/images/utilities/pets.png'}" class="utility"/>	
				    #{/if}
	            	#{if cspot.utilities.contains(4)}
	            	<img src="@{'public/images/utilities/electricity.png'}" class="utility"/>					            	
	            	#{/if}
	            	#{if cspot.utilities.contains(5)}
	            	<img src="@{'public/images/utilities/internet.png'}" class="utility"/>					            	
	            	#{/if}
	            	#{if cspot.utilities.contains(6)}
	            	<img src="@{'public/images/utilities/barbecue.png'}" class="utility"/>
	            	#{/if}
	            </td>
	          
	           	<td>
	            	${cspot.price}
	            	#{form @Search.view()}
	            		<a href="../search/view/${cspot.id}" class="btn btn-primary" >View</a>
	            	#{/form}
	         	</td>
               </tr>
            #{/list}
        </tbody>
    </table>
 
   
   
    
<!-- TODO: paging   
	<p>
        <a id="nextPage" href="${page+1}">More results</a>
    </p>
  --> 
#{/if}

#{else}
    <p>
        No more results.
    </p>
#{/else}      
