#{if cspot}
	<div id="small" style="height:150px; width:300px " data-cspotid="${cspot.id}">
		<a id="detail" href="#"> ${cspot.header}</a><br>
		

		
		${cspot.text.substring(0, 300)}...<br>
		Price: ${cspot.price}<br>
		Utilities: ${cspot.utilities}	<br>	
		From: ${cspot.startDate.format("yyyy/MM/dd")}<br>
		To: ${cspot.endDate.format("yyyy/MM/dd")}<br>
		
	</div>
#{/if}