#{extends 'main.html' /} 
#{set title:'View' /}
#{set 'pageJavaScripts'}
	#{script 'search.js' /}
#{/set}
#{if cspot}

<div id="cspot" data-start_date="${cspot.startDate}" data-end_date="${cspot.endDate}">
	<h2>
		${cspot.header}
	</h2>
		
	<!-- The Bootstrap Image Gallery lightbox -->
	<div id="blueimp-gallery" class="blueimp-gallery">
	    <!-- The container for the modal slides -->
	    <div class="slides"></div>
	    <!-- Controls for the borderless lightbox -->
	    <h3 class="title"></h3>
	    <a class="play-pause"></a>
	    <ol class="indicator"></ol>
	    <!-- The modal dialog, which will be used to wrap the lightbox content -->
	    <div class="modal fade">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" aria-hidden="true">&times;</button>
	                    <h4 class="modal-title"></h4>
	                </div>
	                <div class="modal-body next"></div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default pull-left prev">
	                        <i class="glyphicon glyphicon-chevron-left"></i>
	                        Previous
	                    </button>
	                    <button type="button" class="btn btn-primary next">
	                        Next
	                        <i class="glyphicon glyphicon-chevron-right"></i>
	                    </button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	
	<div id="owl-demo" class="owl-carousel">	 	 
		 #{list items:0..cspot.photos.size()-1, as: 'i'}
		 <div class="item">
			<a href="@{Search.renderImages(cspot.id, i)}" title="Camp Photo" data-gallery>
			    <img data-src="@{Search.renderImages(cspot.id, i)}"  alt="Camp Photo" class="lazyOwl">
			</a>
		 </div>
		 #{/list}
	</div>
	
	#{form @Bookings.create(), class: 'form-horizontal'}
		
		<div class="form-group #{if play.data.validation.Validation.current().hasError ("booking") } has-error has-feedback #{/if}">
			#{if play.data.validation.Validation.current().hasError ("booking") }
			<div class="form-group error">
				<span class="help-inline">
					<span class="glyphicon glyphicon-remove form-control-feedback"></span>
					#{error "booking.spot" /}
				</span>			
			</div>
			#{/if}
					
			<input id="cspotid" name="cspotid" type="hidden" value="${cspot.id}" />
			<label for="booking.startDate" class="col-sm-2 control-label">Start</label>
			<div class="col-sm-3">
				<input name="booking.startDate" id="booking_startDate" class="form-control datepicker" type="text" 
					value="${flash["booking.startDate"] ? flash["booking.startDate"] : startDate}">
				<span class="help-inline">#{error "booking.startDate" /}</span>
			</div>
			
			<label for="booking.endDate" class="col-sm-2 control-label">End</label>
			<div class="col-sm-3">
				<input name="booking.endDate" id="booking_endDate" class="form-control col-sm-3 datepicker" type="text"  
				value="${flash["booking.endDate"] ? flash["booking.endDate"] : endDate}">
				<span class="help-inline">#{error "booking.endDate" /}</span>
			</div>
			<div class="form-actions">
			<button type="submit" class="btn btn-primary">Book</button>
			</div>
		</div>
	#{/form}
	
	<div class="row">
		<div class="col-md-5">
			<div class="row">
				<div class="col-md-5 cspot-attrib-view">	
					Available: 
				</div>
				<div class="col-md-5 cspot-attrib-view">	
					${cspot.startDate?.format('dd.MM.yyyy')} - ${cspot.endDate?.format('dd.MM.yyyy')} 
				</div>
			</div>
	
			<div class="row">
				<div class="col-md-5 cspot-attrib-view">	
					Location: 
				</div>
				<div class="col-md-5 cspot-attrib-view">	
					tbd
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 cspot-attrib-view">	
					Price: 
				</div>
				<div class="col-md-5 cspot-attrib-view">	
					${cspot.price} Euro/night
				</div>
			</div>	
			<div class="row">
				<div class="col-md-5 cspot-attrib-view">	
					Amenities: 
				</div>
				<div class="col-md-5 cspot-attrib-view">	
					#{if cspot.utilities.contains(1)}
					<img src="@{'public/images/utilities/shower.png'}" class="utility"/>
		           	#{/if}
		           	#{if cspot.utilities.contains(2)}
					<img src="@{'public/images/utilities/bathroom.gif'}" class="utility"/>
			     	#{/if}
		           	#{if cspot.utilities.contains(3)}
					<img src="@{'public/images/utilities/pets.png'}" class="utility"/>	
				    #{/if}
		           	#{if cspot.utilities.contains(4)}
		           	<img src="@{'public/images/utilities/electricity.png'}" class="utility"/>					            	
		           	#{/if}
		           	#{if cspot.utilities.contains(5)}
		           	<img src="@{'public/images/utilities/internet.png'}" class="utility"/>					            	
		           	#{/if}
		           	#{if cspot.utilities.contains(6)}
		           	<img src="@{'public/images/utilities/barbecue.png'}" class="utility"/>
		           	#{/if}
				</div>
			</div>		
		</div>
	 	<div class="col-md-7">
	 		<div class="row">
				<div class="col-md-7 cspot-attrib-view">
		      		Reviews:
				</div>
				<div class="col-md-5 cspot-attrib-view">
		        </div>
			</div>
	 	</div>
	</div>
	
	<div>
		<p class="cspot-text-view">
	<!--	<div id="links">
				<a href="@{Search.renderImage(cspot.id)}" title="Camp Photo" data-gallery>
				    <img src="@{Search.renderImage(cspot.id)}" alt="Camp Photo" class="cspot-view">
				</a>
			</div>
	-->
			${cspot.text}
		</p>
	</div>
</div>
#{/if}