
<div class="col-md-3 upcomming">
	<div class="jumbotron">
		<div style="text-align: center"><h4>Upcoming guests</h4></div>
		<div>
		#{if upcomingGuests.size() > 0 }
			%{ 
				String lastSpot = ""; 
				boolean spotChange = false;
			}%
				
			#{list upcomingGuests}
			
				#{if !lastSpot.equalsIgnoreCase(_.spot.header) }
					#{if ! _isFirst}
						</ul>
					#{/if}
					%{ lastSpot = _.spot.header; }%
					<ul>
						<h5><span class="glyphicon glyphicon-tree-conifer"></span>${ lastSpot } </h5>
				#{/if}
				#{else}
					%{ spotChanged = false; }%
				#{/else}
				
				<li>
					${_.startDate.format("yyyy/MM/dd")}
					<div class="pull-right">
						#{if _.status == models.Booking.Status.Open }
						<a href="@{Bookings.confirm(_.id)}" class="btn btn-info btn-xs pull-right">
							<span class="glyphicon glyphicon-thumbs-up"></span>
							Confirm
						</a>
						#{/if}
						<div style="padding: 15px;"></div>
						<a href="@{Bookings.delete(_.id)}" class="btn btn-danger btn-xs pull-right ">
							<span class="glyphicon glyphicon-thumbs-down"></span>
							Cancel
						</a>
					</div>
					
					<p>
					<span id="user_pic" class="glyphicon glyphicon-user" ></span> 
					${_.booker.name}
					</p>
					
				</li>
			
			#{/list}
		#{/if}
		#{else}
		None
		#{/else}
		</div>
	</div>
</div>