.home-img {
	width: 99%;
	height: 70%;
	margin-bottom: 20px;
}

.home-header {
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
}

.home-text {
	font-size:17px;
}

.container {
	padding-top: 30px;
}
.container .jumbotron{
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
}

.container .logo {
	width: 292px;
	margin-left: -82px;
	margin-bottom: -50px;
	margin-top: -100px;
}

.cspot-pic {
	width: 160px;
}

.container .cspot-attrib-view {
	padding-bottom: 10px;
}

.cspot-view {
	width: 220px;
	float: right;
	padding: 10px;
}

.info-padding {
	padding-bottom: 15px;
	padding-top: 15px;
}

.container .cspot-text-view {
	font-size:15px;
}

.utility {
	width: 30px;
	padding-bottom: 1px;
}


.main-content {
	margin-top: 36px;
	padding-left: 8px;
	padding-right: 15px;
}

#owl-demo .item{
  margin: 3px;
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.datepicker .booked {
	background-color: red;
}
.datepicker .inactive {
	background-color: gray;
}

#footer .container {
	
text-align: center;
padding-top: 15px;
margin-bottom: 0px;

}
#footer .container ul{
display: inline-flex;
list-style: none;
margin-bottom: 0px;
}
#footer .container li{
padding: 10px;
}
#footer {
background-color: #f5f5f5;
}
#push, #footer {
height: 60px;
}



.upcomming .jumbotron {
	padding: 10px;
}
.upcomming ul {
	padding-left: 20px;
}
.upcomming li {
	list-style: none;
}
.upcomming #user_pic {
	font-size: 20px;
}

.upcomming h5 .glyphicon {
	margin-right: 5px;
	margin-left: -20px;
}

.table-entry {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
}

.tablesorter-blue th, .tablesorter-blue thead td {
	background-color: transparent !important;
}
