<div class="form-group #{if play.data.validation.Validation.current().hasError ("${_name}") } has-error has-feedback #{/if}">
	<label for="${_name}" class="col-sm-2 control-label">${_label}</label>
	<div class="#{if _input_width} ${_input_width} #{/if} #{else}col-sm-5#{/else}">
		%{ body = _body == null ? null : play.templates.JavaExtensions.toString(_body).trim(); }% 
		#{if body}
			#{doBody /} 
		#{/if} 
		#{else} 
			<input type="text" class="form-control" name="${_name}" placeholder="${_label}" value="${flash[_name]}" /> 
		#{/else}
		
		#{if play.data.validation.Validation.current().hasError ("${_name}") } 
			<span class="glyphicon glyphicon-remove form-control-feedback"></span>
		#{/if}
	</div>
	<span class="help-inline">#{error _name /}</span>
</div>