<li class="#{if request.action=="${_action}"} 
		active 
	#{/if} ${_class}">
	%{ url = play.mvc.Router.reverse(_action); }%
	<a href="${url}" #{if _class?.contains("dropdown")} data-toggle="dropdown" #{/if}>
		${_item_name}
		#{if _class?.contains("dropdown")}
			<b class="caret"></b>
		#{/if}
	</a>
	
	#{doBody /}
</li>