#{extends 'main.html' /}
#{set title:'FAQ' /}
#{script 'faq.js' /}

 <div class="starter-template">
	<h2>Frequently Asked Questions</h2>

 <div class="container">
 	    
    <div class="row">
   
        <div class="col-md-6 col-md-offset-3" style="margin-left: 0px;">
            <!-- Nav tabs category -->
            <ul class="nav nav-tabs faq-cat-tabs">
                <li class="active"><a href="#faq-cat-1" data-toggle="tab">Campers</a></li>
                <li><a href="#faq-cat-2" data-toggle="tab">Land Owner</a></li>
                
            </ul>
    
            <!-- Tab panes -->
            <div class="tab-content faq-cat-content" style="width: 750px;">
                <div class="tab-pane active in fade" id="faq-cat-1">
                    <div class="panel-group" id="accordion-cat-1">
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                                    <h4 class="panel-title">
                                        How to sign up?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    In order to get access to the camping spots and in the end book the spot that you like, you will first need to sign up. Just press on the sign up button in the top right corner of the web site and you will be directed to the sign up form. Please provide us the requested information and pay attention to the warning messages that appear if something is missing or invalid. After registering you will have to log in with you credentials. Finally you are now able to search for camping spots and book the according to your preferences. Thank you for using MIRUPE Camping.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                                    <h4 class="panel-title">
                                        How does the search work?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    MIRUPE Camping provides an easy to use search function in order to easily find the right place as fast as possible. When you navigate to the search site you will be able to switch between two different modes of searching. First mode is a google maps integration search where you can have a look at a map containing all available spots at the moment. By clicking on the map marker you will be able to see the most important details of the selected spot. Double click will navigate you to the detailed overview site for the specific spot.<br>Option two is summarized list view of all camping spots. Here you can apply several filters and sorting options to summarize your results. By clicking on the view button you will again be redirected to the detailed overview description of the spot. IF you have anymore questions please feel free to contact us by using the form on the right hand-side of the web site.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="faq-cat-2">
                    <div class="panel-group" id="accordion-cat-2">
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                    <h4 class="panel-title">
                                        How can I add a spot?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-2-sub-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    When you want to add a spot in order to make it available for other people you first have to be signed in. Please note that you will have a personalized view whenever you are logged in. By selecting My Listings you will be able to see your current spots that you have added so far and upcoming guests or visits. Please select the drop-down menu and click on new, f you want to add a new spot. Follow the instructions on the next page and pay attention to the messages displayed for warning or invalid input.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                    <h4 class="panel-title">
                                        How can I set the date my spot will be available?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-2-sub-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    In order to set the date your spot will be available for booking you need to be logged in. After you chose to add a new spot you are directed to the new spot form and asked to provide different informations about your camping spot. Here you can find the start and end date input field that allow you the select the time frame for how long the camping spot will be available. Please be aware that you do not have to take care of the management of the bookings. This is provided by MIRUPE Camping and is automated by the current booking system.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    </div>