#{extends 'main.html' /}
#{set title:'Registration' /}
#{script 'register.js' /}

#{ifErrors}
    <p class="error">
        ${errors[0]}
    </p>
#{/ifErrors}

#{form @Register.create(), class: 'form-horizontal', role:'form'}

  <div class="form-group #{if play.data.validation.Validation.current().hasError ("name") } has-error has-feedback #{/if}">
    <label for="name" class="col-sm-2 control-label">Nickname*</label>
    <div class="col-sm-5">
     	<input type="text" class="form-control" id="name" name="name" placeholder="Nickname" value="${flash.name}" />
   		<span class="error">#{error 'name' /}</span>	
   		#{if play.data.validation.Validation.current().hasError ("name") }
   		<span class="glyphicon glyphicon-remove form-control-feedback"></span>
   			#{/if}
    </div>
  </div>
  
  <div class="form-group">
    <label for="firstName" class="col-sm-2 control-label">First Name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
    </div>
  </div>
  
  <div class="form-group">
    <label for="lastName" class="col-sm-2 control-label"> Last Name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
    </div>
  </div>
  
  <div class="form-group">
	<label for="birthday" class="col-sm-2 control-label">Birthday</label>
    <div class="col-sm-5">
		<input id="birthday" name="birthday" class="form-control" size="16" type="text"  data-date-format="dd.mm.yyyy" data-date-viewmode="years" placeholder="Birthday">	
    </div>
  </div>
  
  <div class="form-group #{if play.data.validation.Validation.current().hasError ("email") } has-error has-feedback #{/if}">
    <label for="inputEmail3" class="col-sm-2 control-label">Email*</label>
    <div class="col-sm-5">
      <input type="email" class="form-control" id="inputEmail3" name="email" placeholder="Email" value="${flash.email}" required/>
   		<span class="error has-error">#{error 'email' /}</span>
   		#{if play.data.validation.Validation.current().hasError ("email") }
   		<span class="glyphicon glyphicon-remove form-control-feedback"></span>
   			#{/if}
    </div>
  </div>
  
  <div class="form-group #{if play.data.validation.Validation.current().hasError ("password") } has-error has-feedback #{/if}">
    <label for="password" class="col-sm-2 control-label">Password*</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="password" name="password" placeholder="password" value="${flash.password}" />
   		<span class="error has-error">#{error 'password' /}</span>
   		#{if play.data.validation.Validation.current().hasError ("password") }
   		<span class="glyphicon glyphicon-remove form-control-feedback"></span>
   			#{/if}
    </div>
  </div>
  
  <div class="form-group #{if play.data.validation.Validation.current().hasError ("rePassword2") } has-error has-feedback #{/if}">
    <label for="rePassword2" class="col-sm-2 control-label">Confirm password*</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="rePassword2" name="rePassword2" placeholder="reenter password" value="${flash.rePassword2}" />
   		<span class="error has-error" >#{error 'rePassword2' /}</span>
   		#{if play.data.validation.Validation.current().hasError ("rePassword2") }
   		<span class="glyphicon glyphicon-remove form-control-feedback"></span>
   			#{/if}
    </div>
  </div>
  
  <div class="form-group #{if play.data.validation.Validation.current().hasError ("code") } has-error has-feedback #{/if}">
    <label for="code" class="col-sm-2 control-label">Please type the code on the right: </label>
    <img src="@{Register.captcha(randomID)}" />
    <div class="col-sm-5">
    <input type="text" class="form-control" name="code" id="code" value="" />
    <input type="hidden" name="randomID" value="${randomID}" value="${flash.code}" />
   		<span class="error">#{error 'code' /}</span>
   		#{if play.data.validation.Validation.current().hasError ("code") }
   		<span class="glyphicon glyphicon-remove form-control-feedback"></span>
   			#{/if}
 	 </div>
	</div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <button type="submit" class="btn btn-default">Register</button>
    
      <button type="reset" class="btn btn-default">Reset</button>
  	</div>
  </div>   

#{/form}
